<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{'Close' | translate}}</ion-button>
        </ion-buttons>
        <!--<ion-button color="light" (click)="dismissLogin()">Close</ion-button>-->
        <ion-title>{{'Notifications' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let not of notifications">
            <ion-textarea>{{not.message}}</ion-textarea>
        </ion-item>
    </ion-list>
</ion-content>