<ion-item style="width: 100%;">
    <ion-card style="width: 100%;" [color]="match.countdownNum > 0 ? 'primary' : (match.finished && match.status !=='FT' ? 'danger' : 'secondary')">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-card-title style="font-size: small !important;">{{match.home}}</ion-card-title>
                        <ion-card-title style="font-size: small !important;">{{match.away}}</ion-card-title>
                    </ion-col>
                    <!--<ion-col>
                        <ion-button expand="full " size="small " color="success " style="font-size: xx-small; " (click)="openPicker( 'Exact Score') ">{{'Score Bet'| translate}}</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="full " size="small " color="success " style="font-size: xx-small; " (click)="openPicker( 'Match Winner') ">{{'102 Bet'| translate}}</ion-button>
                    </ion-col>-->
                    <ion-col size="2">
                        <ion-button expand="full " size="small " color="success " style="font-size: xx-small; " (click)="openPicker('Home') ">{{getOdd('Home')}}</ion-button>
                    </ion-col>
                    <ion-col size="2">
                        <ion-button expand="full " size="small " color="success " style="font-size: xx-small; " (click)="openPicker('Draw') ">{{getOdd('Draw')}}</ion-button>
                    </ion-col>
                    <ion-col size="2">
                        <ion-button expand="full " size="small " color="success " style="font-size: xx-small; " (click)="openPicker('Away') ">{{getOdd('Away')}}</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <h6 style="margin-top: 1vh;">{{getMatchCountdown(match.countdownNum,match.countdown)}}</h6>
                    </ion-col>
                    <ion-col size="3">
                        <h6 style="margin-top: 1vh;">{{'x' | translate}}{{match.factor}}</h6>
                    </ion-col>
                    <ion-col size="1">
                        <ion-button shape="round" (click)="openBetPage() " size="small " color="light" style="font-size: xx-small; ">
                            {{getOddCount()}}
                            <ion-icon name="arrow-forward"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
        <ion-card-content *ngIf="match.finished && match.status==='FT' ">
            <ion-card-title style="font-size: small !important; ">{{match.home}}:{{match.homescore}}</ion-card-title>
            <ion-card-title style="font-size: small !important; ">{{match.away}}:{{match.awayscore}}</ion-card-title>
        </ion-card-content>
        <ion-card-content *ngIf="match.finished && match.status !=='FT' ">
            <ion-card-title>{{getMatchStatusString()}}</ion-card-title>
        </ion-card-content>


    </ion-card>
</ion-item>