
.numberCircle {
    border-radius: 50%;
    width: 20%;
    height: 10%;
    padding: 5%;
    
    color: #fff;
    text-align: center;
    font-weight: bold;
    
  }



@media only screen and (max-width: 640px) {

  ::ng-deep ion-card-title{
    font-size:medium;
  } 
  ::ng-deep ion-card-content h1{
    font-size:medium !important;
  } 

  .numberCircle {
    font-size: xx-small;
  }

}

 @media only screen and (max-width: 320px) {

  ::ng-deep ion-card-title{
    font-size:small;
  }
  ::ng-deep ion-card-content h1{
    font-size:small !important;
  }
  .numberCircle {
    font-size: xx-small;
  }
}

@media only screen and (max-width: 1280px) {

  ::ng-deep ion-card-title{
    font-size:large;
  } 
  ::ng-deep ion-card-content h1{
    font-size:large !important;
  }
  .numberCircle {
    font-size: small;
  }

}