<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{'Bet' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss(false)">{{'Close' | translate}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <!--<ion-card>
    <ion-card-content>
      <ion-card-subtitle>{{'HINT:YOU CAN MAKE MORE THAN 1 PREDICTIONS' | translate}}</ion-card-subtitle>

      <ion-button expand="block" (click)="openPicker()">{{'Choose Match Result' | translate}}</ion-button>
      <ion-item>
        <ion-label>{{match.home}}</ion-label>
        <ion-input placeholder="enter a number" type="number" [value]="betHome"
          (input)="setBetHome($event.target.value)" [disabled]="disabled">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{match.away}}</ion-label>
        <ion-input placeholder="enter a number" type="number" [value]="betAway"
          (input)="setBetAway($event.target.value)" [disabled]="disabled">
        </ion-input>
      </ion-item>
      <ion-item>

        <ion-label>{{'Points' | translate}}</ion-label>
        <ion-input placeholder="Kaç puan yatıracağınızı giriniz" type="number" [value]="betPoints"
          (input)="setBetPoints($event.target.value)" [disabled]="disabled"></ion-input>
      </ion-item>

      
      <ion-item>
        <ion-button expand="block" (click)="bet()" [disabled]="disabled">{{'Bet' | translate}}</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>-->
    <ion-list lines="inset">
        <ion-row *ngFor="let oddDesc of oddDescs">
            <ion-list-header (click)="expandCollapse($event,oddDesc)" style="cursor: pointer;">
                <ion-item>
                    <ion-label>
                        {{oddDesc.key|translate}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon [name]="oddDesc.expanded || null || false ? 'arrow-up' : 'arrow-down'"></ion-icon>
                </ion-item>
            </ion-list-header>
            <app-fade [show]="oddDesc.expanded || null || false" style="width: 100% !important;">

                <ion-grid [id]="'oddDescGrid'.concat(oddDesc.key)">
                    <ion-row>
                        <ion-col *ngFor="let odd of sortBy(oddDesc.value,'ID'); let i = index">
                            <ion-item>
                                <ion-label>
                                    {{odd.oddValue|translate}}</ion-label>

                                <ion-button size="small" color="medium" style="width: 10vw;" (click)="openPicker(odd.ID)">{{odd.rate}}</ion-button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </app-fade>
        </ion-row>
    </ion-list>

    <ion-list lines="inset">
        <ion-list-header>
            <ion-label>{{'Your Previous Bets on This Match' | translate}}</ion-label>
        </ion-list-header>
        <ion-row *ngFor="let bet of bets; let i = index">
            <ion-item-sliding>
                <ion-item>
                    <ion-card (click)="openBetPage(i)" style="width: 100%;">
                        <ion-card-header>
                            <ion-card-subtitle>{{getLocaleString(bet.CreatedAt)}}</ion-card-subtitle>
                            <ion-card-subtitle>{{bet.Odd.oddDesc | translate}}</ion-card-subtitle>
                            <ion-card-title>{{bet.Odd.oddValue}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item button (click)="deleteBet(bet.ID)">
                                <ion-icon slot="end" name="trash"></ion-icon>
                                <ion-label>{{bet.points}} Pts</ion-label>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                    <!--<ion-label (click)="openBetPage(i)">{{bet.homeScore}} - {{bet.awayScore}} : {{bet.points}} Points</ion-label>
      <ion-button (click)="deleteBet(bet.ID)">Delete</ion-button>-->
                </ion-item>
                <ion-item-options side="end" *ngIf="!disabled">
                    <ion-item-option color="danger" (click)="deleteBet(bet.ID)">
                        <ion-icon name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

            </ion-item-sliding>
        </ion-row>
    </ion-list>



</ion-content>