<ion-item style="width: 100%;">
    <ion-card style="width: fit-content !important;" color="ternary">
        <ion-card-header>
            <div style="display: flex;">
                <div class="col-sm-4" style="width: 50%;">
                    <ion-card-title style="font-size: small !important;">{{buyable.Customer.customerName}}</ion-card-title>
                </div>
            </div>
        </ion-card-header>
        <ion-card-content>
            <div style="display: flex; justify-content: space-between; ">
                <h5>{{buyable.description}}</h5>
            </div>
            <div style="display: flex; font-size: smaller !important; ">
                <div class="col-sm-4 " style="width: 50%; ">
                    {{buyable.coin}}
                </div>
            </div>
            <div class="col-sm-4 " style="width: 50%; ">
                <ion-button expand="full " size="small " color="success " style="font-size: xx-small; " (click)="openConfirm()">{{'BUY'| translate}}</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-item>