<ion-header>
  <ion-toolbar>
    <!--<ion-button color="light" (click)="dismissLogin()">Close</ion-button>-->
    <ion-title>{{'Login' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{'Password' | translate}}</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
    <!--<p text-right>Forgot Password?</p>-->
  
    <ion-button type="submit" expand="full" color="primary">{{'Login' | translate}}</ion-button>
    <ion-button expand="full" color="primary" (click)="loginFacebook()">
      {{'Login with' | translate}}
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button expand="full" color="danger" (click)="loginGoogle()">
      {{'Login with' | translate}}
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>
    <ion-button expand="full" color="danger" (click)="loginAsGuest()">
      {{'Continue as guest' | translate}}
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </form>
  <p text-center>{{'Do not have an account?' | translate}}</p>
  <ion-button expand="full" color="secondary" (click)="registerModal()">{{'Register' | translate}}</ion-button>
