<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegister()">{{'Close' | translate}}</ion-button>
    <ion-title>{{'Register' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
        <ion-label position="floating">{{'First Name' | translate}}</ion-label>
        <ion-input ngModel name="fName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{'Last Name' | translate}}</ion-label>
      <ion-input ngModel name="lName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">{{'Password' | translate}}</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="danger">{{'Register' | translate}}</ion-button>
  </form>
  <p text-center>{{'Already have a account?' | translate}}</p>
  <ion-button expand="full" color="primary" (click)="loginModal()">{{'Login' | translate}}</ion-button>
</ion-content> 