<ion-header>
    <ion-toolbar>
        <ion-title>{{'Market' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-row *ngFor="let buyable of buyables">
            <app-buyable-card [buyable]="buyable"></app-buyable-card>
        </ion-row>
    </ion-list>
</ion-content>