<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{'Close' | translate}}</ion-button>
        </ion-buttons>
        <!--<ion-button color="light" (click)="dismissLogin()">Close</ion-button>-->
        <ion-title>{{'Predictions' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="inset">
        <ion-row *ngFor="let tr of bets; let i = index">
            <ion-item style="width: 100%;">
                <ion-card style="width: 100%;" [color]="isactive ? 'secondary' : (tr.won ? 'success' : 'warning')">
                    <ion-card-header>
                        <ion-card-subtitle>{{tr.CreatedAt}}</ion-card-subtitle>
                        <ion-card-title>{{tr.Match.home}} - {{tr.Match.away}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{tr.points}}
                    </ion-card-content>
                    <ion-card-content *ngIf="tr.won">
                        <ion-card-subtitle>{{'Gained Points'|translate}}</ion-card-subtitle>
                        {{tr.Gain.gainedPoints}}
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-row>
    </ion-list>
</ion-content>