<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'Filter Date' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen>
  <ion-list>
    <ion-item [style.opacity] = "getDate(-1) === current.toISOString().split('T')[0] ? 1: 0.5" style="cursor: pointer;" (click)="setCurrent(-1)">
      <ion-label>{{'Yesterday' | translate}}</ion-label>
    </ion-item>
    <ion-item [style.opacity] = "getDate(0) === current.toISOString().split('T')[0] ? 1: 0.5" style="cursor: pointer;" (click)="setCurrent(0)">
      <ion-label>{{'Today' | translate}}</ion-label>
    </ion-item>
    <ion-item [style.opacity] = "getDate(1) === current.toISOString().split('T')[0] ? 1: 0.5" style="cursor: pointer;" (click)="setCurrent(1)">
      <ion-label>{{'Tomorrow' | translate}}</ion-label>
    </ion-item>
    <ion-item [style.opacity] = "getDate(2) === current.toISOString().split('T')[0] ? 1: 0.5" style="cursor: pointer;" (click)="setCurrent(2)">
      <ion-label>{{getDate(2)}}</ion-label>
    </ion-item>
    <ion-item [style.opacity] = "getDate(3) === current.toISOString().split('T')[0] ? 1: 0.5" style="cursor: pointer;" (click)="setCurrent(3)">
      <ion-label>{{getDate(3)}}</ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item [style.opacity] = "ifCustom() ? 1: 0.5">
      <ion-label>{{'Custom Date' | translate}}</ion-label>
      <ion-datetime placeholder="Pick" (ionChange)="selectDate($event)" [value]="current.toISOString().split('T')[0]"></ion-datetime>
    </ion-item>
    <ion-button (click)="dismiss()">{{'Filter' | translate}} </ion-button>
  </ion-list>
</ion-content>