<ion-header>
  <ion-toolbar>
    <ion-title>{{'Get Points' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  {{'To Earn Points Watch Video' | translate}}
  <ion-button shape="round" color="primary" fill="outline" (click)="showRewardVideoAds()">
    {{'Show Reward Video Ads' | translate}}</ion-button>
  <div>
    <ion-item>
      <ion-label>{{getWatchedString()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'Gained Points by Daily Bonus'|translate}}</ion-label>
    </ion-item>
    <div *ngFor="let ball of balls; let i=index">
      <ion-icon name="football" style="zoom:2.0;"></ion-icon>
      {{getGainedPoints(i)}}
    </div>
  </div>
</ion-content>