<ion-menu side="end" content-id="content" type="overlay">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>{{'Menu'|translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content id="content">
        <ion-list>
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-button color="light" (click)=openProfilePage()>{{'Profile'|translate}}</ion-button>
            </ion-item>
            <!--<ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>{{'Notifications'|translate}}</ion-label>
      </ion-item>-->
            <ion-item>
                <ion-icon name="pulse" slot="start"></ion-icon>
                <ion-button color="light" (click)="openActivePredictions()">{{'Active Predictions'|translate}}</ion-button>
            </ion-item>
            <ion-item>
                <ion-icon name="archive" slot="start"></ion-icon>
                <ion-button color="light" (click)="openFinishedPredictions()">{{'Previous Predictions'|translate}}</ion-button>
            </ion-item>
            <!--<ion-item>
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>{{'Previous Earnings'|translate}}</ion-label>
      </ion-item>-->
            <ion-item>
                <ion-icon name="calendar" slot="start"></ion-icon>
                <ion-button color="light" (click)=openRankingPage()>{{'Monthly Rankings'|translate}}</ion-button>
            </ion-item>
            <ion-item>
                <ion-icon name="person-add" slot="start"></ion-icon>
                <ion-button color="light" (click)=openReferencePage()>{{'Enter Reference'|translate}}</ion-button>
            </ion-item>
            <ion-item>
                <ion-icon name="people" slot="start"></ion-icon>
                <ion-button color="light" (click)=openTellAFriend()>{{'Tell A Friend'|translate}}</ion-button>
            </ion-item>
            <ion-item>
                <ion-icon name="log-out" slot="start"></ion-icon>
                <ion-button color="light" (click)="logout()">{{'Logout'|translate}}</ion-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" (click)="gotoTab1($event)">
            <ion-icon name="flash"></ion-icon>
            <ion-label>{{'Matches' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2" (click)="gotoTab2($event)">
            <ion-icon name="apps"></ion-icon>
            <ion-label>{{'Previous Bets' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="send"></ion-icon>
            <ion-label>{{'Challenges' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4" *ngIf="isMobile()">
            <ion-icon name="send"></ion-icon>
            <ion-label>{{'Get Points' | translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab5" *ngIf="isMarketActive()">
            <ion-icon name="cart"></ion-icon>
            <ion-label>{{'Market' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
    <ion-fab horizontal="end" vertical="center" slot="fixed">
        <ion-fab-button color="light" *ngIf="checkNotifications()" (click)="openNotifications()">
            <ion-icon name="alert"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-tabs>
<h6>{{version}}</h6>