<ion-header>
  <ion-toolbar>
    <ion-title>
      Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>{{'Created Date'| translate}}</ion-label>
    </ion-list-header>
    <ion-row  *ngFor ="let tr of newTransactions; let i = index">
    <ion-item style="width: 100%;">
      <ion-card style="width: 100%;" [color]="tr.points < 0 ? 'warning' : tr.type === 1 ? 'success': 'secondary'">
        <ion-card-header>
          <ion-card-subtitle>{{tr.CreatedAt}}</ion-card-subtitle>
          <ion-card-title>{{tr.home}} - {{tr.away}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{tr.points}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-row>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
