.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  left: 10px;
}

.dropbtn0 {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-bottom: inset;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-bottom: inset;
}



.dropbtn2 {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropbtn3 {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup0 {
  position: fixed;
  top: 50%;
  left: 1vh;
  display: grid;
}

.dropup {
  position: absolute;
  top: -150%;
  left: 110%;
  display: grid;
}

.dropup2 {
  position: fixed;
  bottom: -4px;
  left: 50%;
  display: inline-block;
}

.dropup3 {
  position: fixed;
  top: 50%;
  left: 1vh;
  display: grid;
}

.dropup0-content0 {
  display: block;
  position: absolute;
  min-width: 160px;
  bottom: -20vh;
  z-index: 1;
  height: 50vh;
  left: 110%;
}

.dropup-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: -20vh;
  z-index: 1;
  overflow-y: scroll;
  height: 50vh;
  left: 110%;
}

.dropup2-content2 {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vh;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
  height: 4vh;
  left: 110%
}

.dropup3-content3 {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vh;
  bottom: 50px;
  z-index: 1;
  overflow-y: scroll;
  height: 4vh;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:active {background-color: #ccc}

.dropup:active .dropup-content {
  display: block;
}

.dropup:active .dropbtn {
  background-color: #2980B9;
}
