<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'Matches' | translate}} ver:{{version.version}}
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
            <ion-card-title>{{'Matches' | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{ 'Points:' | translate}} {{getPointsFromClass()}} {{'Coins:'|translate}} {{getCoinsFromClass()}}</p>
        </ion-card-content>
    </ion-card>
    <ion-toolbar>
        <ion-segment (ionChange)="segmentChanged($event)" value="active">
            <ion-segment-button value="active">
                <ion-label>{{ 'Active' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="finished">
                <ion-label>{{'Finished' | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div *ngIf="isactive">
        <ion-list>
            <ion-row *ngFor="let league of activeLeagues">
                <ng-container *ngIf="getVisibleMatchCount(league)">
                    <ion-list-header (click)="expandCollapse($event,league)" style="cursor: pointer;">
                        <ion-item>
                            <ion-thumbnail slot="start">
                                <img *ngIf="league.ID > 0" alt="leagueLogo" src={{league.logo}} width="20" height="20">
                            </ion-thumbnail>
                            <ion-label>
                                {{getLeagueName(league)}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon [name]="league.expanded || null || false ? 'arrow-up' : 'arrow-down'"></ion-icon>
                        </ion-item>
                    </ion-list-header>
                    <app-fade [show]="league.expanded || null || false" style="width: 100% !important;">

                        <ion-grid [id]="'lggrid'.concat(league.leagueId)">
                            <ion-row>
                                <div *ngFor="let match of league.matches; let i = index" style="width: 100%;">
                                    <ion-col *ngIf="match.visible" style="width: 100%;">
                                        <app-match-card [match]="match" (changePoints)="pointsChange($event)" style="width: 100%;">
                                        </app-match-card>
                                    </ion-col>
                                </div>
                            </ion-row>
                        </ion-grid>

                    </app-fade>
                </ng-container>
            </ion-row>
        </ion-list>
        <ion-infinite-scroll #activescroll threshold="100px" (ionInfinite)="loadMoreLeagues($event.target)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <div *ngIf="!isactive">
        <ion-list>
            <ion-row *ngFor="let league of activeFinishedLeagues">
                <ng-container *ngIf="getVisibleMatchCount(league)">

                    <ion-list-header (click)="expandCollapse($event,league)" style="cursor: pointer;">
                        <ion-item>
                            <ion-thumbnail slot="start">
                                <img *ngIf="league.ID > 0" alt="leagueLogo" src={{league.logo}} width="20" height="20">
                            </ion-thumbnail>
                            <ion-label>
                                {{getLeagueName(league)}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-icon [name]="league.expanded || null || false ? 'arrow-up' : 'arrow-down'"></ion-icon>
                        </ion-item>
                    </ion-list-header>
                    <app-fade [show]="league.expanded || null || false" style="width: 100% !important;">

                        <ion-grid [id]="'lggrid'.concat(league.leagueId)">
                            <ion-row>
                                <div *ngFor="let match of league.matches; let i = index" style="width: 100%;">
                                    <ion-col *ngIf="match.visible" sizeLg="3" sizeMd="4" sizeS="6" sizeXs="12" style="width: 100%;">
                                        <app-match-card [match]="match" (changePoints)="pointsChange($event)" style="width: 100%;">
                                        </app-match-card>
                                    </ion-col>
                                </div>
                            </ion-row>
                        </ion-grid>

                    </app-fade>
                </ng-container>
            </ion-row>
        </ion-list>
        <ion-infinite-scroll #finishedscroll threshold="100px" (ionInfinite)="loadMoreFinishedLeagues($event.target)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>


<div class="dropup0">

    <button class="dropbtn0" (click)=toggleFilterGroup()>
    <ion-icon slot="start" name='funnel'></ion-icon>
  </button>


    <div class="dropup" *ngIf="filterGroupFlag">

        <button class="dropbtn" (click)=openDateFilter()>
      <ion-icon slot="start" name='funnel'></ion-icon> {{'Date' | translate}}
    </button>

        <button class="dropbtn" (click)=toggleFilter()>
      <ion-icon slot="start" name='funnel'></ion-icon> {{'League' | translate}}
    </button>

        <div class="dropup-content" *ngIf="filterFlag">
            <button class="dropbtn" (click)=clearAllLeagueFilters()>
        <ion-icon slot="start" name='trash'></ion-icon>
        {{'Clear All' | translate}}
      </button>
            <a *ngFor="let league of leagues; let i = index" href="javascript:void(0)" (click)="filterByLeague(league,$event)" [style.background]="isLeagueSelected(league) ? 'grey' : 'white'">
        <img *ngIf="league.ID > 0" alt="leagueLogo" src={{league.logo}} width="20" height="20">
        {{getLeagueName(league)}}
      </a>
        </div>


        <button class="dropbtn" (click)=toggleTeamFilter()>
      <ion-icon slot="start" name='funnel'></ion-icon> {{'Team' | translate}}
    </button>

        <div class="dropup2-content2" *ngIf="teamFilterFlag">
            <ion-input placeholder="Start typing team name" (input)="teamFilterChanged($event.target.value)" [(ngModel)]="teamFilter" style="width: auto; min-width: max-content;"></ion-input>

        </div>


    </div>
</div>

<!--<div class="dropup2">
  <button class="dropbtn2" (click)=toggleTeamFilter()>
    <ion-icon slot="start" name='funnel'></ion-icon> Team
  </button>

  <div class="dropup2-content2" *ngIf="teamFilterFlag">
    <ion-input placeholder="Start typing team name" (input)="teamFilterChanged($event.target.value)"></ion-input>

  </div>
</div>


<div class="dropup3">
  <button class="dropbtn3" (click)=openDateFilter()>
    <ion-icon slot="start" name='funnel'></ion-icon> Date
  </button>
</div>-->