<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'Challenges' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="active">
        <ion-segment-button value="active">
            <ion-label>{{'Active' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="finished">
            <ion-label>{{'Finished' | translate}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>

<ion-content>
    <div *ngIf="isactive">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>
        <ion-grid>
            <ion-row>
                <ion-col sizeLg="3" sizeMd="4" sizeS="6" sizeXs="12" *ngFor="let ch of challenges; let i = index">
                    <ion-item style="width: 100%;">
                        <ion-card style="width: 100%;" [color]="ch.started ? 'primary':'secondary'" (click)="openChallengeDet(i,true)">
                            <ion-card-header>
                                <ion-card-subtitle>{{getChallengeCountdown(ch.countdownNum,ch.countdown,ch.startDate)}}
                                </ion-card-subtitle>
                                <ion-card-title>{{ch.name}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item class="ion-activated" color="inherit">
                                    <ion-label>{{'Entering points' | translate}} {{ch.minPoints}}</ion-label>
                                </ion-item>
                                <ion-item class="ion-activated" color="inherit">
                                    <ion-label>{{'Max points' | translate}} {{ch.pointsToSpend}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-checkbox slot="end" [ngModel]="ch.Contenders.length>0" disabled="true" [color]="ch.Contenders.length>0 ? 'success':'warning'"></ion-checkbox>
                                    <ion-label>{{'Entered' | translate}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="fixed">{{'Completed' | translate}}</ion-label>
                                    <ion-input disabled="true">{{ch.predictedCount}}/{{ch.matchCount}} </ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label>{{'Prize' | translate }}:{{ch.Prize.prize}} {{ch.Prize.PrizeTypeDesc.description}}</ion-label>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-col>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-row>
        </ion-grid>
    </div>
    <div *ngIf="!isactive">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>
        <ion-grid>
            <ion-row>
                <ion-col sizeLg="3" sizeMd="4" sizeS="6" sizeXs="12" *ngFor="let ch of finisheds; let i = index">
                    <ion-item style="width: 100%;">
                        <ion-card style="width: 100%;" [color]="ch.started ? 'primary':'secondary'" (click)="openChallengeDet(i,false)">
                            <ion-card-header>
                                <ion-card-subtitle>{{getChallengeCountdown(ch.countdownNum,ch.countdown,ch.startDate)}}
                                </ion-card-subtitle>
                                <ion-card-title>{{ch.name}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item class="ion-activated" color="inherit">
                                    <ion-label>{{'Entering points' | translate}} {{ch.minPoints}}</ion-label>
                                </ion-item>
                                <ion-item class="ion-activated" color="inherit">
                                    <ion-label>{{'Max points' | translate}} {{ch.pointsToSpend}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-checkbox slot="end" [ngModel]="ch.Contenders.length>0" disabled="true" [color]="ch.Contenders.length>0 ? 'success':'warning'"></ion-checkbox>
                                    <ion-label>{{'Entered' | translate}}</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="fixed">{{'Completed' | translate}}</ion-label>
                                    <ion-input disabled="true">{{ch.predictedCount}}/{{ch.matchCount}} </ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label>{{'Prize' | translate}}:{{ch.Prize.prize}} {{ch.Prize.PrizeTypeDesc.description}}</ion-label>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-col>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfiniteFinished($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>