<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{'Close' | translate}}</ion-button>
        </ion-buttons>
        <ion-title>{{'Enter Reference' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>{{'Enter Reference'|translate}}</ion-label>
        <ion-input type="number" [value]="reference" (input)="setReference($event.target.value)">
        </ion-input>
    </ion-item>
    <ion-button expand="full" color="danger" (click)="sendReference()">{{'Send' | translate}}</ion-button>
</ion-content>