<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">{{'Close' | translate}}</ion-button>
        </ion-buttons>
        <ion-title>{{'Tell A Friend' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-textarea disabled="true" style="font-style: italic;">{{link}}</ion-textarea>
    </ion-item>
    <ion-item>
        <ion-textarea disabled="true" style="font-weight: bold;">{{'If your friend will enter the id below to Enter Reference field, you will earn 100 points.' | translate }}</ion-textarea>
    </ion-item>
    <ion-item>
        <ion-textarea disabled="true" color="danger">{{'User ID:' |translate }}{{id}}</ion-textarea>
    </ion-item>
    <ion-button expand="full" color="danger" (click)="copyLink()">{{'Copy' | translate}}</ion-button>

</ion-content>