<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{'Close' | translate}}</ion-button>
    </ion-buttons>
    <!--<ion-button color="light" (click)="dismissLogin()">Close</ion-button>-->
    <ion-title>{{'Profile' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ion-item>
    <ion-label position="fixed">{{'User ID'|translate}}</ion-label>
    <ion-input disabled="true">{{user.email}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{'User Name'|translate}}</ion-label>
    <ion-input [(ngModel)]="user.userName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)=updateUserName()>{{'Update'|translate}}</ion-button>
  </ion-item>
</ion-content>