<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{'Close' | translate}}</ion-button>
    </ion-buttons>
    <!--<ion-button color="light" (click)="dismissLogin()">Close</ion-button>-->
    <ion-title>{{'Rankings' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
      <ion-label>{{'Year'|translate}}</ion-label>
      <ion-select [(ngModel)]="year" (ngModelChange)="getRankings()">
        <ion-select-option value="2020">2020</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
    <ion-label>{{'Month'|translate}}</ion-label>
    <ion-select [(ngModel)]="month" (ngModelChange)="getRankings()">
      <ion-select-option value="1">{{'January'|translate}}</ion-select-option>
      <ion-select-option value="2">{{'February'|translate}}</ion-select-option>
      <ion-select-option value="3">{{'March'|translate}}</ion-select-option>
      <ion-select-option value="4">{{'April'|translate}}</ion-select-option>
      <ion-select-option value="5">{{'May'|translate}}</ion-select-option>
      <ion-select-option value="6">{{'June'|translate}}</ion-select-option>
      <ion-select-option value="7">{{'July'|translate}}</ion-select-option>
      <ion-select-option value="8">{{'August'|translate}}</ion-select-option>
      <ion-select-option value="9">{{'September'|translate}}</ion-select-option>
      <ion-select-option value="10">{{'October'|translate}}</ion-select-option>
      <ion-select-option value="11">{{'November'|translate}}</ion-select-option>
      <ion-select-option value="12">{{'December'|translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        {{'Rank'|translate}}
      </ion-col>
      <ion-col size="6">
        {{'User Name'|translate}}
      </ion-col>
      <ion-col size="3">
        {{'Points'|translate}}
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let rank of rankings.Rankings">
      <ion-col size="3">
        {{rank.rank}}
      </ion-col>
      <ion-col size="6">
        {{rank.userName}}
      </ion-col>
      <ion-col size="3">
        {{rank.points}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>