<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{challenge.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss(false)">{{'Close' | translate}}</ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="challenge.Contenders.length === 0">
            <ion-button #enterbutton fill="solid" color="primary" (click)="enterChallenge()">{{'Enter' | translate}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="matches">
        <ion-segment-button value="matches">
            <ion-label>{{'Matches' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="results">
            <ion-label>{{'Results' | translate}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>


<ion-content>
    <div *ngIf="ismatches">
        <ion-list lines="none">
            <ion-row *ngFor="let match of challenge.Matches; let i = index">
                <app-match-card [match]="match.Match" (changePoints)="pointsChange($event)" style="width: 100%;" [entered]="challenge.Contenders.length > 0" [disabled]="challenge.finished" [challengeId]="challenge.ID" [challengeType]="challenge.type" [challengeMaxPoint]="challenge.pointsToSpend"
                    [challengeAllPoints]="allPoints"></app-match-card>
            </ion-row>
        </ion-list>
    </div>
    <div *ngIf="!ismatches">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    {{'Rank' | translate}}
                </ion-col>
                <ion-col size="6">
                    {{'Name' | translate}}
                </ion-col>
                <ion-col size="3">
                    {{'Points' | translate}}
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let res of results; let i = index">
                <ion-col size="3">
                    {{res.rank}}
                </ion-col>
                <ion-col size="6">
                    {{res.name}}
                </ion-col>
                <ion-col size="3">
                    {{res.points}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>